@font-face {
    font-family: "Casper Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../content/media/fonts/CasperSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Casper Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../content/media/fonts/CasperSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Casper Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../content/media/fonts/CasperSans-Medium.woff") format("woff");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../content/media/fonts/SourceCodePro-Regular.ttf") format("ttf");
}
